@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("tokens.css");

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-header-bg);
  padding: 2em;
  gap: 40px;
  align-items: center;
}

.menu {
  margin-left: auto;
  justify-content: right;
  display: none;
}

.menu-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.checkbox {
  display: flex;
  margin-left: auto;
  text-align: right;
  gap: 20px;
}

.menu-items {
  display: none;
}

.header > h1 {
  font-size: 3em;
  max-width: max-content;
}

.container {
  display: grid;
  max-height: 100vh;
  max-width: 100vw;
  grid: 1fr 1fr / 1fr 2fr;
}

.navigation {
  display: flex;
  gap: 20px;
  font-size: 1.5em;
  color: var(--color-link-base);
  text-decoration-line: underline;
}

@media (max-width: 800px) {
  .header {
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .navigation {
    display: none;
  }

  .menu {
    display: block;
    margin-left: auto;
    text-align: right;
  }

  .menu-items {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1rem;

    background-color: var(--color-page-bg);
    font-size: 1.1em;
  }

  .menu-items.is-open {
    display: flex;
  }

  .menu-items a {
    color: var(--color-link-base);
    text-decoration-line: underline;
  }
}

h1{
  color: var(--color-text-strong);
  background-color: var(--color-header-bg);
  max-width: 20rem;
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-text-strong);
}

.form-section {
  padding: 20px;
}

.form-error {
  color: var(--color-error);
  margin-top: 0.25rem;
}

dl > dt{
  font-family: "Instrument Serif", serif;
  font-size: 1rem;
  font-style: normal;
}

dl > dd{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

.picture-me{
  width: 20rem;
  height: 20rem;
  padding: 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.links {
  color: var(--color-link-base);
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-size: 1rem;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.contact {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid: 1fr / 1fr 1fr
}

.contact-info {
  padding: 20px;
  grid-row: 1 / 1;
  grid-column: 1/ 1;
  font-size: 1.5em;
  text-align: end;
}

.contact-information {
 padding: 20px;
 list-style-type: none;
 font-size: 1em;
 line-height: 2em;

}
.contact > .list {
  list-style-type: none;
}

.about-me {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 2rem;
}